*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #000;
  height: 100vh;
  justify-content: center;

}

.interface{
  max-width: 1280px;
  margin: 0 auto;

}

.flex{
  display: flex;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color:#e916b4 ;
  border:0;
  border-radius: 20px;
  cursor:pointer;
  transition:.2s;

}
.box a{
  padding: 4px;
  font-size: 10px;
  background-color:#e916b4 ;
  color:white;
  border:0;
  border-radius: 20px;
  cursor:pointer;
  text-decoration: none;
  
}

h2.titulo{
  color:#fff;
  text-align:center;
  font-size: 38px;


}
h2.titulo span{
  color:#e916b4
}

button:hover, form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px pink;
  transform: scale(1.05);
}


/*  estilo cabeçalho*/
header{
  padding: 40px 4%;

}
header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
header a{
  color:#fff;
  text-decoration: none;
  display: inline-block;
  transition:.2s;

}


header nav.menu-desktop a:hover{
  color:#fff;
  transform: scale(1.20);

}

header nav ul{
  list-style-type:none;

}
header nav.menu-desktop  ul li{
  display: inline-block;
  padding: 0 40px;

}




/* MENU MOBILE*/

.menu-mobile{
  background-color:#000;
  height: 100vh;
  position:fixed;
  top:0;
  right: 0;
  z-index:99999;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.abrir-menu{
  width: 70%;

}

.btn-abrir-menu i{
  color:#e916b4;
  font-size:40px;

}


.menu-mobile.abrir-menu ~ .overlay-menu{
  display:block;
}





.menu-mobile nav{
  text-align:right ;
}
.menu-mobile  nav ul li a{
  color:#fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 4%;
  display: block;
}
.menu-mobile  nav ul li a:hover{
  background-color:#e916b496;
  color:#000; 

}


.overlay-menu{
  background-color:#000000b2;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 88888;
  display: none;


}
.menu-mobile .btn-fechar {
  padding:20px 1%;

}


.menu-mobile .btn-fechar i{
  color:#e916b4;
  font-size: 30px;
}


section.lista{
  
      padding:43px 30%;
      justify-content: center;
  
  }

  
  
/*estilo topo do site*/
section.topo-do-site{
  max-width: 100%;
  height: 90vh;
  background:url(../images/imagemdoheeader.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

}



/*estilo  site*/
section.site{
  padding: 40px 4%;
}

section .site .flex{
  align-items: center;
  justify-content: center;
  gap:90px;

}

.site h1{
  color:#fff;
  font-size: 42px;    
  line-height: 40px;

}

.site .txt-topo-site h1 span{
  color:#e916b4
}

.topo-do-site .txt-topo-site p{
  color:#fff;
  margin:40px 0;
}
.site .img-topo-site img{
  position: relative;
  animation:flutuar 2s ease-in-out infinite alternate;
  width:500px;
}

.site{
  width:500px;
}

/*classe das especialidades*/
section.especialidades{
  padding:30px 6px;

}


section.especialidades .flex{
  gap:60px;
}


.especialidades .especialidades-box{
 color:#fff;
 padding:30px ;
 border:0,5px solid #fff;
 margin-top: 45px;
 border-radius: 25px;
 transition: 0.2s;
 text-align: center;
 align-items: center;

}
.especialidades .especialidades-box:hover{
transform: scale(1.05);  
box-shadow: 0 0 20px #ffffff49 ;
}



.especialidades .especialidades-box  i {
  font-size:100px;
  color:#e916b4;
}

.especialidades .especialidades-box h3{
  font-size: 20px;
  margin: 15px 0;

}

/*classe makes*/
section.makes-1{
  padding:30px 4%;
  background-color: #fff;

}


section.makes-1 .flex{
  gap:20px;
}


.makes .makes-box{
 color:#e916b4;
 padding:60px;
 border:0,5px solid #ffffff52;
 margin-top: 45px;
 border-radius: 25px;
 transition: 0.2s;
 text-align: center;

}
.makes .makes-box:hover{
transform: scale(1.05);  
box-shadow: 0 0 20px #ffffff49 ;
}



.makes .makes-box  i {
  font-size:100px;
  color:#e916b4;
}

.makes .makes-box h3{
  font-size: 28px;
  margin: 15px 0;

}
.makes h2{
  font-size: 30px;
}

 
section.makes-2{
 padding:60px 4%;
 background-color: #000;

}

.makes2 .makes-box{
  color:#e916b4;
  padding:40px;
  border:0,5px solid #000;
  margin-top: 45px;
  border-radius: 25px;
  transition: 0.2s;
  text-align: center;
 
}
.box {
  text-align: center;
  border-color: #e916b4;
  padding: 5rem;
  cursor: pointer;
}


.make-prod .flex.box {
  text-align: center;
  border:#e916b4;
  padding: 5rem;
  cursor: pointer;
}


/*ESTILO DO FORMULÁRIO CONTATO*/
footer {
  border-width: 1px;
 border-top-style: solid;
 border:none;
 
}
 
 
 
  /*contato*/
  footer{
    padding: 20px 4%;
    box-shadow: 0 0 40px 10px #ffffff3d;
  }
  .contato button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:none;
    background-color: green;
    font-size: 22px;
    cursor:pointer;
    margin:0 5px;
    transition:.2s ;
text-align: center;  
}
 
     .contato .falar h1{
      padding:50px;
         text-align: center;
         font-size:18px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         font-family: "poppins";
         color:#fff;
         background-color: black;
 
 
     }
     .btn-social {
      align-items: center;
      justify-content: center;
      position: static;
      text-align: center;

     }

     .btn-social button{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border:none;
      background-color: #e916b4;
      font-size: 22px;
      cursor:pointer;
      margin:0 5px;
      transition:.2s ;
  text-align: center;  
  }


  .address{
    display: flex;
    align-items: center;
    flex-direction:column;

}

.botao-wpp{
  position: fixed;
  bottom: 30px;
  right:20px ;
}
iframe{
  width:600px; 
  height:450px; 

}


@media screen and (max-width:1000px){

  /*cabeçalho*/
  .menu-desktop, .btn-contato{
      display:none;
  }

  section.topo-do-site{
    
      background:url(../images/imagemdoheeaderP.png);
        max-width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
      
      }
        
  
  
  
  /*classes gerais*/
  .flex{
      flex-direction: column;
  
  }
  
  .topo-do-site .flex{
      flex-direction: column-reverse;
  }
  
  section.topo-do-site .flex{
     gap:40px;
  }

.makes h2{
  font-size: 20px;
}


section.especialidades{
  padding:30px auto;

}
iframe{
  width:250px; 
  height:250px; 

}
}